<body>

    <div class="py-5">
        <div class="container w-50 bg-primary mt-5 rounded shadow">
            <div class="row align-items-lg-stretch">
                
                <!--MEDIDAD DEL FORMULARIO-->
                <div class="col bg-dark p-3 rounded-end ">
                    <div class="text-end">
                    </div>

                    <strong>
            <h2 class="ww-bold text-center py-1 text-white-50 ">Bienvenido</h2>
          </strong>

                    <!--LOGIN-->
                    <form [formGroup]="inicioSesion" (ngSubmit)="poner()">
                        <div class="mb-4">
                            <strong> <label for="email" class="form-label text-white-50">Correo electrónico</label></strong>
                            <input formControlName="correo" type="email" class="form-control" id="correo">
                        </div>
                        <div class="mb-4">
                            <strong> <label for="password" class="form-label text-white-50">Contraseña</label></strong>
                            <input formControlName="contrasenia" type="password" class="form-control" id="contrasenia">
                        </div>
                        

                        <strong> <button type="submit" class="btn btn-primary float-end">Aceptar</button></strong>

                        <div class="d-grid">
                            <strong> <button type="submit" class="btn btn-success" [routerLink]="['/home']" routerLinkActive="router-link-active" >Iniciar
                  Sesión</button></strong>

                            <button type="button" class="btn btn-link" routerLink="/registroAdmin">¿No tienes una cuenta?</button>
                        </div>
                    </form>

                    
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>2022 © Biblioteca UDENAR | Ipiales, Nariño - Colombia</p>
    </div>

</body>